:root { --lighterColor: #f8f5e4;
        --lightColor: #f7c04a ;
        --darkColor: #539165 ;
        --darkerColor: #3f497f ;
        /* --boxBase: 64px; */
}
html {
    margin: 0px;
    top: 0px;
}
body {
    height: 100vh;
    font-size: 16px;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: Roboto, sans-serif;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--lightColor);
}
header {
    display: flex;
    flex: 0 0 auto;
    margin: 0px;
    background-color: var(--darkColor);
    height: 4rem;
    width: 100vw;
    align-items: center;
    justify-content: center;
    /* box-shadow: 0px 9px 16px 1px rgba(0,0,0,0.25); */
}
header > h1, footer > p {
}
footer {
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
    background-color: var(--darkColor);
    width: 100vw;
    /* box-shadow: 1px -9px 15px 1px rgba(0,0,0,0.25); */
}
#content {
    
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    background-color: var(--lightColor);
    height: 100%;
    justify-content: center;
    align-items: center;
}
#main {
    margin-left: 3rem;
    display: flex;
    background-color: var(--lightColor);
    width: 80%;
    height: 100%;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: space-between;
    align-items: center;
}
#menuContainer {
    margin-right: 15px;
    width: 25%;
    height: 640px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    
    justify-content: space-around;
    background-color: #3f497f;
    box-shadow: 7px 7px 10px #765a23b5;
    border-radius: 5px;
}
#nameHolder > p, #sliderName > p  {
    color: var(--lightColor)
}
#menu {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: space-evenly;
    align-items: center;
    
}
#canvas {
    width: 75%;
    height: 80%;
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    background-color: var(--lightColor)
   
}
#gridContainer {
    height: 640px;
    width: 640px;
    border: 3px solid var(--darkerColor);
    box-shadow: 5px 5px 10px #765a23a1;
    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    border-radius: 5px;
}
.boxes {
    background-color: var(--lightColor);
    margin: 0;
    padding: 0;
    width: var(--boxBase);
    height: var(--boxBase);
}
button {
    width: 100px;
    height: 50px;
    margin: 2rem;
    font-size: larger;
    border-radius: 7%;
    box-shadow: 3px 3px 7px rgba(43, 42, 53, 0.685);
    background-color: var(--lightColor);
}
#nameHolder > p {
   
    
    margin-left: auto;
    margin-right: auto;
    font-size: larger;
    text-align: center;
}
#boxResolution {
    background: var(--darkColor);
    margin: 2rem;
}
p {
    text-align: center;
    margin-top: 2rem;
}


